.empty {
  background-color: #ccffcc;
  text-align: center;
}

.at {
  background-color: #ffe0e0;
  white-space: nowrap;
  text-align: center;
}

.df {
  background-color: #e1ffff;
  width: 1px;
  text-align: center;
}

.correct {
  background-color: #f5f5f5;
  text-align: center;
}

.up {
  color: red;
}

.down {
  color: blue;
}
